{% render 'partials/head.liquid' %}

<div class="breadcrumbs">
<a href="/instrumenten">Instrumenten </a>
{% comment %} <p>" / "</p> {% endcomment %}
 {% comment %} voor beste resultaat met een before in css de / plaatsen {% endcomment %}
<a href="/instrumenten/{{ instrument.key }}">&nbsp; / {{ instrument.key }}</a>
<p>&nbsp / Schade</p>

</div>
</header>



{% render 'partials/foot.liquid' %}